
<html>

<head>
<style>

</style>

</head>

<body>

	<form>
	
		<input type="text"  name="username" [(ngModel)]="user.username">
		
		<input type="password"  name="password" [(ngModel)]="user.password">
		
		<input type="number"  name="mobno" [(ngModel)]="user.mobno">
		
		<input type="email"  name="emailid" [(ngModel)]="user.emailid" >
				
		<br><br>

		<input type="button"  value="register" (click)="saveUser()">
		
	</form>

<span>{{message}}</span>

</body>
</html>
