<html>

<head>
<style>

</style>

</head>

<body>

	<form>
	
		<input type="text"  name="username" [(ngModel)]="user.username">
		
		<input type="password"  name="password" [(ngModel)]="user.password">

        <select name="subject" name="subject" [(ngModel)]="subject">

                <option *ngFor="let subject of subjects" value="{{subject}}">{{subject}}</option>
            
        </select>
		
		<input type="button"  value="login" (click)="validate()">

		<input type="button" value="Admin Login" (click)="validate2()">

		
	</form>

    <span style="color: red;font-size: large;">{{message}}</span>
	
</body>
</html>
